/* About Main Container */
.about-maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* About Me Content Container */
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
  }
  
  /* About Me Text Container */
  .about-text {
    flex: 1;
    padding: 0 20px;
  }
  
  /* About Me Heading */
  .about-me {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* About Me Note */
  .aboutme-note {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Profile Image Container */
  .img-pro {
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Profile Image */
  .profile-image {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  