/* Skills.css */

.skills-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .skills-title {
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Choose a suitable font */
      font-size: 50px; /* Adjust font size */
      color: #333; /* Choose a suitable text color */
      text-transform: uppercase; /* Convert text to uppercase */
      letter-spacing: 2px; /* Add letter spacing */
      text-shadow: 2px 2px 4px rgba(216, 27, 27, 0.2); /* Add text shadow */
      animation: pulse 2s infinite alternate; /* Add animation */
    
      /* Center the text */
      text-align: center;
      margin-top: 50px; /* Adjust margin as needed */
  }
    
    /* Define a pulse animation */
    @keyframes pulse {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }
    
  
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    width: 300px;
    margin: 20px;
    text-align: left;
  }
  
  .skill-title {
    margin-bottom: 10px;
    color: #333;
  }
  
  .skill-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .skill-level {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #007bff;
    animation: fillBar 1s forwards;
  }
  
  .skill-level-number {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes fillBar {
    from {
      width: 0;
    }
  }
  
  